*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/frontend/
/database/migrationss/
EXEAT_API_DOCUMENTATION.md
EXEAT_TESTING_GUIDE.md
database_audit.php
database_model_audit_report.txt
database_model_comparison.php
database_schema_output.txt
database_tables_structure.txt
model_analysis_output.txt
model_audit.php
/resources/views/emails/exeat-notification.blade copy.php
test_exeat_creation.php
/database/migrations/2025_08_28_153111_create_exeat_notifications_table.php
API_DOCUMENTATION.md
API_ENDPOINTS.md
config/auth copy.php
config/sanctum copy.php
DASHBOARD_API_TESTING_GUIDE.md
test_dashboard_endpoints.php
test_weekdays_notification.php
test_audit_trail.php
nysc.env
DEPUTY_DEAN_COMPLETE_ANALYSIS.md
add_payment_charge_columns.sql
communication_portal_database.sql
deputy_dean_to_secretary_migration_corrected.sql
DEPUTY_DEAN_TO_SECRETARY_MIGRATION_PLAN.md
deputy_dean_to_secretary_migration.sql
EXEAT_API_CHANGES.md
exeat_workflow_with_deputy_dean_parent_consent.txt
HOSTEL_ADMIN_ASSIGNMENT_API.md
HOSTEL_ADMIN_ASSIGNMENT_COMPLETE_API.md
hostel_admin_assignments_table.sql
mock_data.txt
OVERDUE_PAYMENT_SYSTEM_COMPLETE.md
paystack_integration_documentation.txt
SMS_NOTIFICATIONS_COMPLETE_LIST.md
student_exeat_debt_api_documentation.txt
vu_sessions.sql